@font-face {
    font-family: 'Fedra Sans Pro';
    src: url('FedraSansPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Fedra Sans Pro';
    src: url('FedraSansPro-Book.ttf') format('truetype');
    font-weight: 350;
    font-style: normal;
}

@font-face {
    font-family: 'Fedra Sans Pro';
    src: url('FedraSansPro-Normal.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Fedra Sans Pro';
    src: url('FedraSansPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Fedra Sans Pro';
    src: url('FedraSansPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}