footer {
    background-color: $purple;
    color: $white;

    .footer-row {
        display: flex;
        justify-content: space-between;

        &:first-of-type {
            margin-bottom: 2rem;
        }
    }
}