/* Colors */

$purple: #4E325C;
$white: #fff;
$grey: #4E325C1A;
$green: #548B35;

/* Breakpoints */

$md: 768px;
$lg: 992px;

/* General */

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

button {
    background: none;
    border: none;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1, h2 {
    margin-top: 0;
}

h1 {
    font-size: 1.75rem;

    @media (min-width: $lg) {
        font-size: 2.75rem;
    }
}

h2 {
    font-size: 1.5rem;
    color: $purple;

    @media (min-width: $lg) {
        font-size: 2.5rem;
    }
}

/* Classes */

.container {
    max-width: 1720px;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.text-underline {
    text-decoration: underline;
}

/* Buttons */

.button-transparent,
.button-green,
.button-white {
    display: inline-block;
    padding: .5rem 1.5rem;
 
    border-radius: 2rem;
    font-weight: 700;

    &:hover {
        text-decoration: none;
    }
}

.button-transparent,
.button-green {
    color: $white;
}

.button-green,
.button-white {
    &:hover {
        color: $white;
        background-color: $purple;
    }
}

.button-transparent {
    background-color: transparent;
    border: 2px solid $white;

    &:hover {
        color: $purple;
        background-color: $white;
    }
}

.button-green {
    background-color: $green;
}

.button-white {
    color: $purple;
    background-color: $white;
}