header {
    position: relative;
    min-height: calc(100vh - 5.3125rem);
    padding-top: 5.3125rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width: $lg) {
        min-height: calc(100vh - 7.375rem);
        padding-top: 7.375rem;
    }

    .header-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        z-index: -3;
    }

    .purple-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #573667;
        opacity: 0.8;
        z-index: -2;

        @media (min-width: $lg) {
            width: 50%;
        }
    }

    .gradient-overlay {
        position: absolute;
        top: 0;
        width: 100%;
        height: 19.625rem;
        background: transparent linear-gradient(180deg, #000000 0%, #00000000 100%) 0% 0% no-repeat padding-box;
        opacity: .35;
        z-index: -1;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        padding-bottom: 6rem;

        color: $white;

        .header-content {
            width: 100%;

            @media (min-width: $lg) {
                width: 45%;
            }
        }
    }

    .header-chevron-down {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 1rem;

        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.5rem;
        height: 3.5rem;

        background-color: $light_purple;
        border-radius: 50%;

        transition: margin .3s;

        &:hover {
            margin-bottom: -.5rem;
        }
    }
}