nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 5.3125rem; // 85px

    @media (min-width: $lg) {
        height: 7.375rem; // 118px
    }

    background: transparent;
    color: $white;

    .container {
        padding-top: 0;
        padding-bottom: 0;

        .nav-mobile-button {
            @media (min-width: $lg) {
                display: none;
            }

            .close {
                display: none;
            }
        }
        
        .nav-logo {
            max-width: 12.5rem;

            @media (min-width: $lg) {
                max-width: 100%;
            }
        }

        .nav-mobile-button,
        .nav-logo {
            z-index: 2;
        }

        .nav-menu {
            width: 100%;
            justify-content: space-evenly;
            display: none;
            align-items: center;

            @media (min-width: $lg) {
                display: flex;
            }

            .nav-contacts {
                display: flex;
                flex-direction: column;
                font-weight: 300;

                a:first-of-type {
                    margin-bottom: 1rem;
                }

                @media (min-width: $lg) {
                    flex-direction: row;

                    a:first-of-type {
                        margin-bottom: 0;
                        margin-right: 1.5rem;
                    }
                }
            }

            .nav-link img {
                margin-right: .5rem;
            }
        }
    }

    &.mobile {
        .nav-mobile-button {
            .close {
                display: block;
            }

            .open {
                display: none;
            }
        }

        .nav-menu {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            
            background-color: $purple;
            color: $white;
        
            z-index: 1;

            li {
                margin-bottom: 1rem;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }
}